.vu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 200px;
}

.wa {
   width: 100px;
   height: 150px;
   border-radius: 10%;
}

a {
    text-decoration: none;
}

.molok {
    margin-left: 830px;
}

.mes {
    margin-top: 100px;
}

.ud {
    margin-left: 900px;
}

h3 {
    color: var(--text-color);
}
:root {
    --text-color: white;
}